
  .about-us-container {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: justify; 
    box-sizing: border-box; 
}
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 18px;
    color: #d3cccc;
    margin-bottom: 30px;
    text-align: center;

  }
  
  .about-us-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left {
    text-align: left;
  }
