.about-us-container {
  width: 650px;
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* background-color: red; */
  text-align: justify;
}

.about-us-heading {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-us-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  font-size: 18px;
  margin-bottom: 20px;
}
.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}
