.about-us-container {
  width: 1000px;
  margin: 10px auto; /* Fixed margin syntax */
  padding: 20px; /* Fixed padding syntax */
  text-align: justify;
}

.about-us-heading {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-us-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  font-size: 18px;
  margin-bottom: 20px;
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}
