/* LandingPage.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  background-color: hsl(115, 85%, 30%);
  color: #fff !important;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/plants.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
 top: 100px;
  backdrop-filter: blur(4px);
  background-color: rgba(0,0,0,0.5);
  gap: 20px;
}

.landing_content {
     /* margin-top: 430px; */
     position: relative;
     left: 0%;
     top: -2%;
     z-index: 1;
     text-align: center;
     width: 25%;
     height: fit-content;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     gap: 10px;
}

.content p,
.content h1 {
  color: white;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.content p {
  font-size: 25px;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: hsl(115, 85%, 30%);
  margin: 10px 0;
}

.get-started-button {
  padding: 15px 25px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: hsl(115, 85%, 30%);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.get-started-button:hover {
  background-color: hsl(115, 85%, 30%);
}

/* ProductList.css */

.product-list-container {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  /* Initially off-screen */
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  /* Adjust background opacity as needed */
  transition: top 0.5s ease;
  /* Smooth transition for top property */
  overflow-y: auto;
  /* Enable vertical scrolling */
  z-index: 2;
  /* Ensure it's above landing page content */
  backdrop-filter: blur(5px);
}

.product-list-container.visible {
  top: 0;
}
/* LandingPage.css */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .landing_content {
    margin-top: 100px; /* Adjust as needed */
    margin-left: 0;
    width: 80%; /* Adjust as needed */
    text-align: center;
  }

  .aboutus_container {
    position: relative;
    width: 80%; /* Adjust as needed */
  }
}

@media screen and (max-width: 480px) {
  .landing_content {
    margin-top: 50px; /* Adjust as needed */
    width: 90%; /* Adjust as needed */
  }

  .aboutus_container {
    width: 90%; /* Adjust as needed */
  }
}
