/* Contenedor de la imagen */
.cart-item-image-container {
  position: relative;
  display: inline-block;
}

/* Imagen del producto */
.cart-item-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  object-fit: contain;
}

/* Superposición de la cantidad sobre la imagen */
.item-quantity-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px; /* Ajusta el tamaño de la cantidad */
  font-weight: bold;
}

/* Estilos generales de los elementos del carrito */
.cart-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  background-color: white;
  width: 500px;
  gap: 30px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
}

.cart-item-cost {
  margin-bottom: 10px;
  margin-top: 10px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item-button {
  background-color: #f0f0f0;
  border: 1px solid lightgrey;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.cart-item-quantity-value {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.cart-item-total {
  font-weight: bold;
}

.cart-item-delete {
  background-color: #ff6961;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.cart-item-delete:hover {
  background-color: #cc0000;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column; /* Cambiar la dirección del flex para apilar los elementos */
    align-items: flex-start; /* Alinear los elementos al inicio del contenedor */
    width: 100%; /* Ampliar el ancho */
  }

  .cart-item-image {
    width: 100%; /* Ajustar el ancho de la imagen */
    height: auto; /* Ajustar la altura proporcionalmente */
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cart-item-details {
    width: 100%;
  }

  .cart-item-quantity {
    margin-top: 10px; /* Añadir margen superior */
  }
}

.cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.total_cart_amount {
  font-size: 20px;
  font-weight: 900;
}

.continue_shopping_btn {
  margin-top: -50px;
}

@media (max-width: 768px) {
  .cart-container {
    padding: 10px;
  }

  .total_cart_amount {
    font-size: 18px;
  }
}

.get-started-button1 {
  padding: 15px 75px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}