/* CartItem.css */

.cart-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  background-color: white;
  width: 500px;
  gap: 30px;
}

.cart-item-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
}

.cart-item-cost {
  margin-bottom: 10px;
  margin-top: 10px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item-button {
  background-color: #f0f0f0;
  border: 1px solid lightgrey;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.cart-item-quantity-value {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.cart-item-total {
  font-weight: bold;
}

.cart-item-delete {
  background-color: #ff6961;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.cart-item-delete:hover {
  background-color: #cc0000;
}

.cart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.total_cart_amount {
  font-size: 20px;
  font-weight: 900;
}

.continue_shopping_btn {
  margin-top: -50px;
}

.get-started-button1 {
  padding: 15px 75px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

/* Media Queries for 768px */
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .cart-item-image {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cart-item-details {
    width: 100%;
  }

  .cart-item-quantity {
    margin-top: 10px;
  }

  .cart-container {
    padding: 10px;
  }

  .total_cart_amount {
    font-size: 18px;
  }
}
