.cart-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.cart-item-cost {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.cart-item-quantity-value {
  font-size: 16px;
  color: #333;
  margin: 0 10px;
}

.cart-item-total {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.cart-item-delete {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.continue_shopping_btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.get-started-button,
.get-started-button1 {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
}

.get-started-button:hover,
.get-started-button1:hover {
  background-color: #555;
}
