.navbar {
    background-color: #4CAF50;
    color: #fff !important;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

    .navbar .ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
    }

        .navbar .ul div a {
            color: white;
            font-size: 20px;
            text-decoration: none;
        }

    .navbar li {
        margin-right: 30px;
    }

.luxury {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 650px;
}

    .luxury img {
        padding-left: 0;
    }

.luxury-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Change flex direction to stack items vertically */
        align-items: center; /* Align items to the center of the container */
    }
}
