.navbar {
    background-color: #4CAF50;
    color: #fff !important;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

    .navbar .tag .luxury {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

        .navbar .tag .luxury img {
            padding-left: 0px;
        }

        .navbar .tag .luxury .luxury-text {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 25px;
            color: white;
        }

    .navbar .ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .navbar .ul .plants-link {
            align-items: center;
            justify-content: center;
            padding-left: 0px;
            font-size: 48px;
            color: white;
        }

        .navbar .ul .cart-link {
            font-size: 64px;
        }

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Change flex direction to stack items vertically */
        align-items: center; /* Align items to the center of the container */
    }
}
